body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(120, 155, 244);
}

.color li {
    font-size: 20px;
    text-align: center;
    list-style: square;
}

.recipe-photo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}

h3 {
  background-color: aqua; 
  text-align: center; 
}

button {
    font-size: 18px;
    background-color: red;
    color: white;
    border-radius: 5%;
}